schema/XML_GITHUB_SCHEMA.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="KML">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="KnowledgeData">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Instance" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="RevisionId"/>
                    <xs:element type="xs:dateTime" name="TimeStamp"/>
                    <xs:element type="xs:string" name="Contributors"/>
                    <xs:element type="xs:string" name="EditDetails"/>
                    <xs:element type="xs:string" name="body"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
